/node_modules
/.pnp
.pnp.js

/dist
/build
/coverage
/.turbo

*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*.local
.env.local
.env.test
.env.development
.env.production

/prisma/dev.db
/prisma/dev.db-journal
/prisma/*.sqlite
/prisma/migrations/
prisma/.env

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Documentation
/docs
*.doc.json

# Test output
/test-results
/coverage
/.nyc_output

docker-compose.override.yml
*.pid

package-lock.json
yarn.lock
pnpm-lock.yaml

.idea/
*.sublime-workspace
*.sublime-project

__snapshots__/
*.snap

*.db
*.db-journal
